{% extends 'blog/main.html' %}
{% load static %}
{% block content %}

<style>
	.flex-container{
		display: flex;
		justify-content: center;
	}
	.img-wrapper{
		justify-content: center;
		padding:0px;
		background-color: #fff;
	}
	.href{
		justify-content: center;
		margin-left: 30px;
		margin-right: 30px;
		border: 3px solid  white;
		outline: 3px solid #829986;
	}
</style>
<hr>
<br>
<br>
<div class = "flex-container">
	<a class="href shadow-lg" href="{% url 'blog:methods' %}">
		<span>
			<img src="{% static 'images/method2.png' %}" class="img-fluid mx-auto d-block">
		</span>
	</a>
	<a class="href shadow-lg" href="{% url 'blog:resources' %}">
		<span>
			<img src="{% static 'images/resources.png' %}" class="img-fluid mx-auto d-block">
		</span>
	</a>
	<a class="href shadow-lg" href="{% url 'blog:training' %}">
		<span>
			<img src="{% static 'images/learning.png' %}" class="img-fluid mx-auto d-block">
		</span>
	</a>
	<hr>
</div>
<script type="text/javascript">
	var navBar = document.getElementById('navDiv').innerHTML;
	var newBar = `
		<div>
			${navBar}
		</div>`
	document.getElementById('navDiv').innerHTML = newBar;
	document.getElementById('home').remove();

</script>
{% endblock %}