{% extends 'blog/main.html' %}
{% load static %}
{% block content %}


<style>
	.custom{
		width: auto;
		justify-content: center;
		display: flex;
		background-color: #526927;
		color:white;
		border-radius: 15px;
		border-color: #fff;
		border-width: 2px;
	}
	.head{
		padding-top:.25rem;
		padding-left: 8rem;
		padding-right: 8rem;
		padding-bottom: 0rem;
		text-align: center;
	}
	.head > h3{
    	font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
    	text-decoration: underline;
	}
	.head > p{
    	font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
	}
	.title, .date{
		font-family: 'Montserrat', sans-serif;
		color:#343a40 !important;
	}
	.title{
		font-weight: 700;
	}
	#form_wrapper{
		display: table;
	}
	.main{
		width:95%;
		justify-content: center;
		border: 2px solid #2e612f;
		padding-top:.5rem;
	}
	.row1{
		background-color: #fafff0;
	}
	span > h3{
		font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
		text-decoration: underline;
		color: #1a381b;
		padding-left:2rem;
	}
	/* Track */
	.style-15::-webkit-scrollbar
	{
		background-color:#fafff0;
	}

	.style-15::-webkit-scrollbar-thumb
	{
		border-radius:5px;
		background-color: #418c42;	
		background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%,transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
	}
	.style-15::-webkit-scrollbar-track {
    	box-shadow: inset 0 0 10px 10px #8d8299;
    	border: solid 3px transparent;
	}
</style>
<hr>
<div class="row" style="line-height: 70%">
	<div class="column custom mx-auto">
		<div class="custom card card-body head shadow" style="line-height: 70%">
			<h3>Field Methodology</h3>
			<p>Share & Learn Ways of Working</p>
		</div>
	</div>
</div>
<br>
<div id='main'> 



</div>


<script type="text/javascript">
	var list = null;
	var tags = [];
	var tagTitles = [];
	var tagNames = {};

	function startBuild(){
		var url = 'http://172.20.57.135:88/api/form-list/'
		fetch(url)
		.then((resp) => resp.json())
		.then(function(data){
			list = data;
			getTagNames();
		})
	}
	startBuild();

	function getTagNames(){
		var url = 'http://172.20.57.135:88/api/tag-list/'
		fetch(url)
		.then((resp) => resp.json())
		.then(function(data){
			tagNames = data;
			console.log(tagNames);
			buildTags();
		})
	}

	function buildTags(){
		for (var i in list){
			for (var j in list[i].tag){
				var tag = list[i].tag[j];
				var n = tags.includes(tag)
				var title = null;
				for (var x=0; x<tagNames.length; x++){
					if (tagNames[x].id == tag){
						title = tagNames[x].name;
					}
				}
				if (n == false){
					tags.push(tag);
					tagTitles.push(title);
				}
			}
		}
		console.log(tags, tagTitles);
		for (var i = 0; i < tags.length; i++){
			var main = document.getElementById('main');
			var row = 	`
				<div class="card card-body main mx-auto row1 shadow" id="${i}">
					<div class="row row1 style-15" style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap;" id="${i}">
						<span id="form-wrapper-${i}" style="display:inline;">
							<h3>${tagTitles[i]}</h3>

						</span>
					</div>
				</div>
				<br/>`;
			main.innerHTML += row;
			buildList(i);
		}
	}

	function buildList(j){
		var tag = tags[j];
		for (var i in list){
			var formTags = list[i].tag;
			if (formTags.includes(tag)){
				var wrapper = document.getElementById(`form-wrapper-${j}`);
				var href1 = "http://172.20.57.135:88/display/" + list[i].id;
				var src = "http://172.20.57.135:88/static" + list[i].file;
				var type = src.type;
				var title = `<span style="display:block; text-align:center"><a class="title" href=${href1}>${list[i].title}</a></span>`;
				console.log(title);
				var date = `<span style="display:block; text-align:center"><a class="date" href=${href1}>Uploaded: ${list[i].date}</a></span>`;
				var item = `
					<div id="card mx-auto custom" style="display:inline-block">
						<span><iframe class="iframe" id='file' src=${src}></iframe></span>
						${title}
						${date}
					</div>
				`;
				wrapper.innerHTML += item;
			} else {
				console.log('Fail: ', tag, list[i])
			}

		}
	}
</script>



{% endblock %}