{% load static %}

<style type="text/css">
  nav{
    background-color:#526927 !important;
    border:3px solid  white;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
  }
  .white{
    color:#fff !important;
  }
  .dropdown-item{
    color: black !important;
  }
  .navbar-nav, a{
    text-align: center;
    justify-content: center;
  }
  li{
    padding-left:10px;
    padding-right:10px;
    border: 1px #fff;
  }
  #topDiv{
    border:3px solid  #8d8299;
  }
  a > img{
    padding-left: 50px;
    display: block;
    height: 70px;
  }
  li > a{
    font-size: 1.3rem;
    font-family: Rockwell, "Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;
    text-decoration: underline;
    font-weight: 600;
  }
  #searchForm{
    justify-content: center;
  }
</style>
<div id = "navDiv">
  <nav id = "nav" class="navbar navbar-expand-lg navbar-light shadow mx-auto">
  <a id = 'brand' class="navbar-brand white" href="#" style="text-decoration: underline;"><img id='brand' src="{% static 'images/logo4.png' %}" style=></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border-color:white;color:white;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active" id="home">
        <a class="nav-link white" href="{% url 'blog:home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link white" href="{% url 'blog:methods'%}">Methodology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link white" href="{% url 'blog:resources' %}">CPFD Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link white" href="{% url 'blog:training'%}">Learning</a>
      </li>
    </ul>
      <form method="GET" action='' id="searchForm" class="form-inline">
        <input type="search" id="searchBar" class="form-control mr-sm-2" placeholder="Type then click Search..." aria-label="Search">
        <a id="searchRedirect">
          <button type="button" onclick="searchSubmit()" id="searchBtn" class="btn btn-info my-2 my-sm-0">Search</button>
        </a>
      </form>
  </div>
</nav>
</div>
<script type="text/javascript">
  function searchSubmit(){
    var form = document.getElementById('searchBar').value;
    var url = `http://172.20.57.135:88/search/${form}/`;
    if (form != ''){
      window.location.href = url;
    } else {
      window.location.href = 'http://172.20.57.135:88/search/%20/';
    }
  }
</script>
