{% extends 'blog/main.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	body{
		overflow-y: scroll;
	}
	.custom{
		width: auto;
		background-color: #fff;
		justify-content: center;
		display: flex;
		background-color: #829986;
		color:white;
		border-radius: 25px;
		text-decoration: underline;
		border-color: #fff;
		border-width: 4px;
	}
	table{
		width:100%;
	}
	.custom1{
		width: 90%;
		display: flex;
		justify-content: center;
		border-radius: 25px;
		border-color: #2e612f;
		border-width: 2px;
	}
	th, .header{
		background-color: #829986;
		color: white;
		text-align: center;
		border: 1px black;
		font-weight: bold;
	}
	td {
		text-align: center;
	}
	tr { 
		width: 100%;
	}
	a {
		color:black !important;
	}
	{box-sizing: border-box;}

	/* The popup form - hidden by default */
	.form-popup {
	  display: none;
	  position: fixed;
	  bottom: 0;
	  right: 15px;
	  border: 3px solid #f1f1f1;
	  z-index: 9;
	}

	/* Add styles to the form container */
	.form-container {
	  max-width: 600px;
	  padding: 10px;
	  background-color: white;
	}

	/* Full-width input fields */
	.form-container input[type=text], .form-container input[type=password] {
	  width: 100%;
	  padding: 15px;
	  margin: 5px 0 22px 0;
	  border: none;
	  background: #f1f1f1;
	}

	/* Set a style for the submit/login button */
	.form-container .btn {
	  background-color: DodgerBlue;
	  color: white;
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  width: 100%;
	  margin-bottom:10px;
	  opacity: 0.8;
	}

	/* Add a red background color to the cancel button */
	.form-container .cancel {
	  background-color: red;
	}

	/* Add some hover effects to buttons */
	.form-container .btn:hover, .open-button:hover {
	  opacity: 1;
	}
	h1{
		text-align: center;
	}
	.head{
		padding-top:.5rem;
		padding-left: 8rem;
		padding-right: 8rem;
		padding-bottom: .5rem;
		text-align: center;
	}
	svg{
		color: #007bff
	}
</style>

<hr>
<div class="row">
	<div class="column custom mx-auto">
		<div class="custom card card-body head shadow">
			<h2>CPFD Resource Forms</h2>
		</div>
	</div>
</div>
<br>
<div class="card card-body custom1 mx-auto shadow">
	<div class = "card card-body">
		<div style="display: flex">
			<div style="flex:7">
				<input id="search-input" class="form-control" type="text" placeholder="Begin typing to search through files!">
			</div>
			<div style="flex:1; justify-content: right; padding-left:20px;">
				<button class="btn btn-warning"><a href="{% url 'api:uploadResource' %}">Add New File</a></button>
			</div>			
		</div>
	</div>

	<table class="table table-striped">
		<tr>
			<th data-column="title" data-order="desc">Document Title &#9650</th>
			<th data-column="date" data-order="desc">Date Added &#9650</th>
			<td class = "header">Preview</td>
			<td class = "header">Delete</td>
		</tr>

		<tbody id="myTable">

		</tbody>
	</table>

	<div class="form-popup" id="myForm">
		<form method = 'get' class="form-container">
			<h1>Update</h1>
			
			<label><b>Title: </b></label>
			<input type="text" id="titleUpdate" required>

			<button id = "submitUpdate" type="submit" class="btn">Submit</button>
			<button type="submit" class="btn cancel" onClick="closeForm()">Close</button>
		</form>
	</div>
</div>	

<script type="text/javascript">
	function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

	const csrftoken = getCookie('csrftoken');
	var activeItem = null;
	var html = null;
	var listSnapshot = [];
	var myData = {}

	function buildTable(data){
		var table = document.getElementById('myTable');
		table.innerHTML= ''
		for (var i =0; i < data.length; i++) {
			try{
				document.getElementById(`data-row-${i}`).remove()
			} catch(err){

			}
			var src = "http://172.20.57.135:88/display3/" + data[i].id
			var date = new Date(data[i].date);
			var adjusted = date.toDateString();
			var row = `
				<tr id = "data-row-${i}">
					<td>${data[i].title}</td>
					<td>${adjusted.substr(adjusted.indexOf(' ') + 1)}</td>
					<td>
						<a id="svg" href=${src}>
							<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
							<path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
							</svg>
						</a>
					</td>
					<td><button class="btn btn-sm btn-outline-danger delete">Delete</button></td>
				</tr>
			`
			table.innerHTML += row
		}
		for (var i=0; i < data.length; i++){
			deleteBtn = document.getElementsByClassName('delete')[i];
			deleteBtn.addEventListener('click', (function(item){
				return function(){
					deleteItem(item);
				}
			})(myData[i]));
		}
		if (listSnapshot.length > data.length){
			for (var i = data.length; i < listSnapshot.length; i++){
				document.getElementById(`data-row-${i}`).remove();
			}
		}
		listSnapshot = data 
	}

	function editItem(item){
		activeItem = item;
		document.getElementById('titleUpdate').value = activeItem.title;
		openForm();
	}


	function searchTable(value, data){
		var filteredData = []
		for (var i =0; i < data.length; i++){
			value = value.toLowerCase()
			var title = data[i].title.toLowerCase()
			if (title.includes(value)){
				filteredData.push(data[i]);
			}
		}

		return filteredData
	}


	function startBuild(){
		var url = "http://172.20.57.135:88/api/form2-list/"
		fetch(url)
		.then((resp) => resp.json())
		.then(function(data) {
			myData = data;
			buildTable(myData);
		});
	}

	function deleteItem(item){
		console.log("Deleting: ", item);
		var url = `http://172.20.57.135:88/api/form2-delete/${item.id}/`
		fetch(url, {
			method:'DELETE',
			headers:{
				'Content-type':'application/json',
				'X-CSRFToken':csrftoken,
			}
		}).then(function(response){
			startBuild();
		})
	}

	startBuild();

	let items = document.getElementsByTagName('th')
	for (let i of items){
		i.addEventListener('click', function(e){
			var column = e.target.dataset.column;
			var order = e.target.dataset.order;
			var text = e.target.innerHTML;
			console.log(text);
			text = text.substring(0, text.length - 1);

			if(order == 'desc'){
				e.target.dataset.order = "asc";
				text += '&#9660';
				myData = myData.sort((a,b) => a[column] > b[column] ? 1:-1);
			} else{
				e.target.dataset.order = "desc";
				text += '&#9650';
				myData = myData.sort((a,b) => a[column] < b[column] ? 1:-1);
			}
			e.target.innerHTML = text;
			buildTable(myData);
		})
	}

	var type = document.getElementById('search-input');
	type.addEventListener('keyup', function(e){
		var value = e.target.value;
		var data = searchTable(value, myData);
		buildTable(data);
	});
</script>
{% endblock %}