{% extends 'blog/main.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	body{
		overflow-y: scroll;
	}
	.custom{
		width: auto;
		background-color: #fff;
		justify-content: center;
		display: flex;
		background-color: #829986;
		color:white;
		border-radius: 25px;
		text-decoration: underline;
		border-color: #fff;
		border-width: 4px;
	}
	table{
		width:90%;
	}
	.custom1{
		width: 90%;
		display: flex;
		justify-content: center;
		border-radius: 25px;
		border-color: #2e612f;
		border-width: 2px;
	}
	th, .header{
		background-color: #829986;
		color: white;
		text-align: center;
		border: 1px black;
	}
	td {
		text-align: center;
	}
	a {
		color:black !important;
	}
	svg{
		color: #007bff
	}
</style>
</br>
<div class="row">
	<div class="column custom mx-auto">
		<div class="custom card card-body head shadow">
			<h2>Site Search</h2>
		</div>
	</div>
</div>

<hr>
<div class="card card-body custom1 mx-auto shadow">
	<div class = "card card-body">
		<div style="display: flex">
			<div style="flex:7">
				<input id="search-input" class="form-control" type="text" value="{{pk}}">
			</div>		
		</div>
	</div>

	<table class="table table-striped">
		<tr>
			<th data-column="title" data-order="desc">Document Title &#9650</th>
			<th data-column="date" data-order="desc">Date Added &#9650</th>
			<td class = "header">Preview/Link</td>
		</tr>

		<tbody id="myTable">

		</tbody>
	</table>
</div>	

<script type="text/javascript">
	function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

	const csrftoken = getCookie('csrftoken');
	var activeItem = null;
	var html = null;
	var listSnapshot = [];
	var myData = {};
	var bigData = null;

	function buildTable(data){
		var table = document.getElementById('myTable');
		table.innerHTML= ''
		for (var i =0; i < data.length; i++) {
			try{
				document.getElementById(`data-row-${i}`).remove()
			} catch(err){

			}
			if (data[i].file != null) {
				var src = "http://172.20.57.135:88/static" + data[i].file
				var svg = `<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
							<path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
							</svg>`
			} else {
				var src = data[i].url
				var svg = `<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-up-right-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.879 10.828a.5.5 0 1 1-.707-.707l4.096-4.096H6.5a.5.5 0 0 1 0-1h3.975a.5.5 0 0 1 .5.5V9.5a.5.5 0 0 1-1 0V6.732l-4.096 4.096z"/>
							</svg>`
			}
			var row = `
				<tr id = "data-row-${i}">
					<td>${data[i].title}</td>
					<td>${data[i].date}</td>
					<td>
						<a id="svg" href=${src}>
							${svg}
						</a>
					</td>
				</tr>
			`
			table.innerHTML += row
		}
		if (listSnapshot.length > data.length){
			for (var i = data.length; i < listSnapshot.length; i++){
				document.getElementById(`data-row-${i}`).remove();
			}
		}
		listSnapshot = data 
	}

	function searchTable(value, data){
		var filteredData = []
		for (var i =0; i < data.length; i++){
			value = value.toLowerCase()
			var title = data[i].title.toLowerCase()
			if (title.includes(value)){
				filteredData.push(data[i]);
			}
		}

		return filteredData
	}

	function startBuild(){
		var url = "http://172.20.57.135:88/api/form-list/";
		var url2 = "http://172.20.57.135:88/api/link-list/";
		var url3 = "http://172.20.57.135:88/api/content-list/";
		var url4 = "http://172.20.57.135:88/api/form2-list/";

		fetch(url)
		.then((resp) => resp.json())
		.then(function(data) {
			bigData = data;
			fetch(url2)
			.then((resp2) => resp2.json())
			.then(function(data2) {
				bigData = bigData.concat(data2);
				fetch(url3)
				.then((resp3) => resp3.json())
				.then(function(data3) {
					bigData = bigData.concat(data3);
					fetch(url4)
					.then((resp4) => resp4.json())
					.then(function(data4) {
						bigData = bigData.concat(data4);
						myData = searchTable("{{pk}}", bigData);
						buildTable(myData);
					})
				})
			})
		});
	}

	startBuild();

	let items = document.getElementsByTagName('th')
	for (let i of items){
		i.addEventListener('click', function(e){
			var column = e.target.dataset.column;
			var order = e.target.dataset.order;
			var text = e.target.innerHTML;
			text = text.substring(0, text.length - 1);

			if(order == 'desc'){
				e.target.dataset.order = "asc";
				text += '&#9660';
				myData = myData.sort((a,b) => a[column] > b[column] ? 1:-1);
			} else{
				e.target.dataset.order = "desc";
				text += '&#9650';
				myData = myData.sort((a,b) => a[column] < b[column] ? 1:-1);
			}
			e.target.innerHTML = text;
			buildTable(myData);
		})
	}

	var type = document.getElementById('search-input');
	type.addEventListener('keyup', function(e){
		var value = e.target.value
		var data = searchTable(value, bigData);
		buildTable(data);
	});
</script>

{% endblock %}