<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Django handler.89" />
            <remove name="Django Handler.3" />
            <remove name="Django Handler.2" />
            <remove name="Django Handler" />
            <remove name="django handler2" />
        </handlers>
    </system.webServer>
</configuration>
